
#a
{
background-color:Darkgreen;
color:white;
text-align:center;
padding:10px 25px;
font-size:17px;
}
#b{
background-color:Red;
color:white;
text-align:center;
padding:25px 220px;
font-size:15px;
}
#c{
background-color:Darkgreen;
color:white;
text-align:center;
padding:25px 220px;
font-size:15px;
}
